<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuN8wxcHM4uKNJUllC1yStsmk78w85Xu4</string>
	<key>GCM_SENDER_ID</key>
	<string>493896974552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hannah.GetItWrite</string>
	<key>PROJECT_ID</key>
	<string>get-it-write-19c3b</string>
	<key>STORAGE_BUCKET</key>
	<string>get-it-write-19c3b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493896974552:ios:b1464db8b7343f228397ad</string>
</dict>
</plist>